{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}

<div class="container bg-scylla center-wrap">
    {% for event in evenements %}
            <div class="card-ev">
                <div class="illu-ev">
                    
                    <div class="ev-card-scroll">
                    {% if event.imagesEvenements is not empty %}
                    {% for image in event.imagesEvenements %}
                        <img src="{{ asset('images/evenements/' ~ image.nom) }}" class="img-card-ev" alt="Evenement">
                    {% endfor %}
                    {% else %}
                        <img src="{{ asset('img/sc-logo-blanc-transparent.png') }}" class="img-card-ev" alt="Scylla Logo">
                    {% endif %}
                    </div>
                    
                </div>
                <h1 class="font-oswald ev-titre">{{ event.titre }}</h1>
                <details class="font-oswald ev-det">
                    <summary class="font-oswald">RÉSUMÉ</summary>
                        {{event.descriptif}}
                        <a class="font-oswald link-ns color-white ev-btn" href="{{ path('app_evenements_show', {'id' : event.id}) }}">PLUS</a>
                </details>
            </div>
        
     {% endfor %}
</div>

{% endblock %}
{# <div class="container bg-scylla color-white font-oswald">
    <h1>Evenements index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Titre</th>
                <th>Descriptif</th>
                <th>Date</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.descriptif }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.commentaire }}</td>
                <td>
                    <a href="{{ path('app_evenements_show', {'id': evenement.id}) }}">Détail</a>
                    <a href="{{ path('app_evenements_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun évènement pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenements_new') }}">Create new</a>
</div> #}
