{% extends 'base.html.twig' %}

{% block title %}Scylla - Connexion{% endblock %}

{% block body %}
<div class="container bg-scylla">
	<form class="color-white" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Bienvenue
				{{ app.user.userIdentifier }}, vous êtes connecté(e)
				<button>
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</button>
			</div>
		{% endif %}

        

        <h1 class="login-title font-oswald">Connectez-vous</h1>
        <hr class="login-hr" />
        <div class="field-box">
            <label class="font-ysabeau big-font" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-field mail-field font-oswald" autocomplete="email" required autofocus>
            <label class="font-ysabeau big-font" for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-field mdp-field font-oswald" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3">
				<label for="_remember_me">
					<input class="color-white font-oswald" type="checkbox" name="_remember_me">Se souvenir de moi
					
				</label>
			</div>

            <button class="go-btn color-white font-oswald" type="submit">
                    SE CONNECTER
            </button>
       </div>

	</form>
	<a href="{{ path('app_forgot_password_request') }}" class="color-white font-oswald"> Mot de passe oublié </h4>
</div>

{% endblock %}
