{% extends 'base.html.twig' %}

{% block title %}Scylla - Connexion{% endblock %}

{% block main %}
<main class="container disp-flex-center-col bg-scylla">

	<h1 class="w-inherit color-white font-oswald title-font marge-bot-2 txt-a upper-text border-bot border-top">Connectez-vous</h1>

	<form class="color-white boxing" method="post">
		{% if error %}
			<div class="font-oswald marge-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="font-oswald">
				Hey {{ app.user.userIdentifier }}, tu es déjà connecté(e)
				<button>
					<a class="font-oswald color-white link-ns" href="{{ path('app_logout') }}">Déconnexion</a>
				</button>
			</div>
		{% endif %}

        

        
        <div class="field-box">
            <label class="font-ysabeau big-font" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-field mail-field font-oswald" autocomplete="email" placeholder="Indique ton mail *" required autofocus>
            <label class="font-ysabeau big-font" for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-field mdp-field font-oswald" autocomplete="current-password" placeholder="Indique ton mot de passe *" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3">
				<label for="_remember_me" class="font-oswald">
					<input class="color-white marge-1" type="checkbox" name="_remember_me">Se souvenir de moi
					
				</label>
			</div>

            <button class="go-btn color-white font-oswald" type="submit">
                    SE CONNECTER
            </button>
       </div>
	</form>

	<div class="marge-top-1 txt-a">
		<a href="{{ path('app_forgot_password_request') }}" class="color-white font-oswald big-font link-ns"> Mot de passe oublié </a>
	</div>
	
</main>

{% endblock %}
