{% extends 'base.html.twig' %}

{% block title %}Scylla - Arts De La Scène
{% endblock %}

{% block contenu %}
	<div class="container home bg-scylla">
		<img class="image-bg container-size" src="/img/20230624-200623-06132-Thomas-Brunet.jpg">

		<div class="block-brand-title">

			<h1 class="color-white font-oswald marge-0 big-brand-font">SCYLLA</h1>
			<h4 class="color-white font-ysabeau marge-0 medium-brand-font font-thin">Arts De La Scène</h4>
		</div>

		<div class="block-menu">
			<nav class="sc-nav">
				<ul class="ls-n sc-ul">
					<li class="sc-li">
						<a class="td-n color-white font-oswald sc-link big-font" href="{{ path('app_home') }}">ACCUEIL</a>
					</li>
					<li class="sc-li">
						<a class="td-n color-white font-oswald sc-link big-font" href="{{ path('app_infos_asso_index') }}">A PROPOS</a>
					</li>
					<li class="sc-li">
						<a class="td-n color-white font-oswald sc-link big-font" href="{{ path('app_ateliers_index') }}">ATELIERS</a>
					</li>
					<li class="sc-li">
						<a class="td-n color-white font-oswald sc-link big-font" href="{{ path('app_evenements_index') }}">EVENEMENTS</a>
					</li>
					<li class="sc-li">
						<a class="td-n color-white font-oswald sc-link big-font" href="{{ path('app_galerie_index') }}">GALERIE</a>
					</li>

				</ul>
			</nav>
		</div>

	</div>

{% endblock %}

