{% extends 'base.html.twig' %}

{% block title %}Scylla - Mon Profil{% endblock %}

{% block contenu %}

	<div class="container-center bg-scylla color-white grid-profile">



        <div class="frame-box area-a">
        
		    <h1 class="font-oswald">Bienvenue</h1>
            <h1 class="font-ysabeau">{{ adherent.infosAdherent.prenom }} {{ adherent.infosAdherent.nom }}</h1>
        </div>


		<table class="sc-profile-table font-oswald big-font area-c">
			<tbody>
				<tr>
					<th>Email</th>
					<td>{{ adherent.email }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ adherent.infosAdherent.adresse }}</td>
				</tr>
                <tr>
					<th>Telephone</th>
					<td>{{ adherent.infosAdherent.telephone }}</td>
                    
				</tr>
			
			</tbody>
		</table>

        
        <ul class="ul-inline area-d">
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">Modifier mon profil</a></li>
		{% if is_granted('ROLE_MEMBRE') %}
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_adherent_index') }}">Liste des Adherents</a></li>
		{% endif %}
        </ul>

        <div class="calendrier area-b">
            <ul>
            
                {% for participantsCours in adherent.participantsCours %}
                    {% for cours in participantsCours.cours %}
                        <li class="ls-n">
                            <h6>--{{ cours.label }}--</h6>
                            {% for seance in cours.seances %}
                                <h6>-{{ seance.id }}-</h6>
                                <h6>Date de début : {{ seance.dateDebut|date('d-m-Y H:i') }}</h6>
                                <h6>Date de fin : {{ seance.dateFin|date('d-m-Y H:i') }}</h6>
                                <h6>Infos : {{ seance.infos }}</h6>
                            {% endfor %}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

		{# {{ include('adherent/_delete_form.html.twig') }} #}
	</div>
{% endblock %}

