{% extends 'base.html.twig' %}

{% block title %}Scylla - Mon Profil{% endblock %}

{% block contenu %}

	<div class="container-center bg-scylla color-white grid-profile">



        <div class="frame-box area-a">
        
		    <h1 class="font-oswald">Bienvenue</h1>
            {% if adherent.infosAdherent is null or adherent.infosAdherent.prenom is null %}
            <h1 class="font-ysabeau">à toi !</h1>
            {% else %}
            <h1 class="font-ysabeau">{{ adherent.infosAdherent.prenom }} {{ adherent.infosAdherent.nom }}</h1>
            {% endif %}
            <a class="link-hov-u color-white font-oswald" href="{{ path('app_logout', {'id': app.user.id}) }}">DECONNEXION</a>
            {# <p>{{ dump(adherent.id) }}</p> #}
        </div>


		<table class="sc-profile-table font-oswald big-font area-b">
			<tbody>
            {% if adherent.infosAdherent is null or adherent.infosAdherent.prenom is null %}
				<tr>
					<th>Email</th>
					<td>{{ adherent.email }}</td>
				</tr>
            {% else %}
                <tr>
					<th>Email</th>
					<td>{{ adherent.email }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ adherent.infosAdherent.adresse }}</td>
				</tr>
                <tr>
					<th>Telephone</th>
					<td>{{ adherent.infosAdherent.telephone }}</td>
                    
				</tr>
            {% endif %}
			
			</tbody>
		</table>

        
        <ul class="ul-inline area-c">
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">Modifier mon mot de passe</a></li>
		{% if is_granted('ROLE_MEMBRE') %}
            <li><a class="link-hov-u color-white font-oswald" href="{{ path('app_adherent_index') }}">Liste des Adherents</a></li>
		{% endif %}
        </ul>

        <div class="area-d">
            <div class="carousel">
                <div class="carousel__scene">
                    <ol class="carousel__list">
                    {% set totalSeances = 0 %}
                    {% for participantsCours in adherent.participantsCours %}
                        {% for cours in participantsCours.cours %}
                            {% for seance in cours.seances %}
                        <li class="carousel__cell">
                            <span class="song__title">{{ seance.cours.label }}</span>
                            <span class="song__year">Date et heure : {{ seance.dateDebut|date('d-m-Y H:i') }}</span>
                            <span class="song__artist">Infos : {{ seance.infos }}</span>
                        </li>
                                {% set totalSeances = totalSeances + 1 %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    
                    </ol>
                </div>
                <div class="carousel__controls">
                    <button class="previous-button">&#x2B06;</button>
                    <button class="next-button">&#x2B07;</button>
                </div>
            </div>

            <div id="totalSeancesCount" style="display: none;">{{ totalSeances }}</div>
        </div>

        <div class="area-e">
            {# <div class="carousel">
                <div class="carousel__scene">
                    <ol class="carousel__list">
                    {% set totalEvents = 0 %}
                    {% for participantsEvenements in adherent.participantsEvenements %}
                        {% for event in participantsEvenements.evenement %}
                        <li class="carousel__cell">
                            <span class="song__title">{{ event.titre }}</span>
                            <span class="song__year">Date et heure : {{ event.date|date('d-m-Y H:i') }}</span>
                            <span class="song__artist">Infos : {{ event.commentaire }}</span>
                        </li>
                            {% set totalEvents = totalEvents + 1 %}
                        {% endfor %}
                    {% endfor %}
                    </ol>
                </div>
                <div class="carousel__controls">
                    <button class="previous-button">&#x2B06;</button>
                    <button class="next-button">&#x2B07;</button>
                </div>
            </div> #}
            <div id="totalEventsCount" style="display: none;">{{ totalEvents }}</div>
        </div>

        

		{# {{ include('adherent/_delete_form.html.twig') }} #}
	</div>
{% endblock %}

