{% extends 'base.html.twig' %}

{% block title %}Scylla - Ateliers{% endblock %}

{% block main %}


	<main class="container bg-scylla center-wrap">
    {% for atelier in ateliers %}
        {% for image in atelier.imagesAteliers %}
            <div class="card-at">
			 	<div class="illu-at">
                	<img src="{{ asset('images/ateliers/' ~ image.nom) }}" class="img-card-at"> 
                </div>
                <h1 class="font-oswald at-titre">{{atelier.label}}</h1>
                <details class="font-oswald at-det">
                    <summary class="font-oswald">Détails...</summary>
                        {{atelier.description}}
                        <a class="font-oswald link-ns color-white at-btn" href="{{ path('app_ateliers_show', {'id' : atelier.id}) }}">COURS</a>
                </details>
            </div>
        {% endfor %}
     {% endfor %}
	</main>


	{# <header></header>
			
			    <main>
			        {% for atelier in ateliers %}
			        <div class="card-container">
			            <img src="https://via.placeholder.com/150" alt="Image Atelier" class="card-image">
			            <div class="card-content">
			                <div class="card-title">{{ atelier.label }}</div>
			                <div class="card-description">{{ atelier.description }}</div>
			            </div>
			            <a class="show-btn color-white font-oswald link-ns" href="{{ path('app_ateliers_show', {'id' : atelier.id}) }}">DETAIL</a>
			        </div>
			        {% else %}
			        
			            <h1 class="color-white font-oswald">Il n'y a aucun atelier pour le moment</h1>
			        
			        {% endfor %}
			        <a class="show-btn color-white font-oswald link-ns" href="{{ path('app_home') }}">Retour à l'Accueil</a>
			    </main> #}

{# <h1>Ateliers</h1> #}

	{# <table class="table">
			            <thead>
			            
			                <tr>
			                   
			                    <th>Label</th>
			                    <th>Description</th>
			                    <th>Action</th>
			                
			                </tr>
			            </thead>
			            <tbody>
			            {% for atelier in ateliers %}
			                <tr>
			                   
			                    <td>{{ atelier.label }}</td>
			                    <td>{{ atelier.description }}</td>
			                    <td>
			                        <a href="{{ path('app_ateliers_show', {'id' : atelier.id}) }}">Détail</a>
			                    </td>
			                </tr>
			            {% else %}
			                <tr>
			                    <td colspan="9">Il n'y a aucun atelier pour le moment</td>
			                </tr>
			            {% endfor %}
			            </tbody>
			    </table> #}

	{# <a href="{{ path('app_category_index') }}">Retour</a> #}


{% endblock %}

