{% extends 'base.html.twig' %}

{% block title %}Scylla - Ateliers{% endblock %}

{% block contenu %}
    <div class="container bg-scylla color-white font-oswald">

        <div class="title-detail disp-flex-around">

            <h1 class="big-font-xl upper-text marge-top-1">{{atelier.label}}</h1>
        
        </div>

        <div class="disp-flex-around-col pad-1">
            <p class="medium-font-plus parag marge-bot-1 txt-a">{{atelier.description}}</p>
        </div>
        <div class="disp-flex-around-col pad-1">
            <a class="font-oswald show-btn link-ns color-white" href="{{ path('app_ateliers_index') }}">ATELIERS</a>
        </div>

        <div class="disp-flex-around-col pad-1">
            <ul class="pad-0">
            {% for cour in atelier.cours %}
                <li class="ls-n li-cours">
                    <h1 class="big-font">{{cour.label}}</h1>
                    <p>{{cour.descriptif}}</p>
                    <p>Saison : {{ cour.debutSaison|format_datetime('long', 'none', locale='fr') }} - {{ cour.finSaison|format_datetime('long', 'none', locale='fr') }}</p>
                    {# <p>Saison : {{cour.debutSaison|date('F Y', none, 'fr')}} - {{cour.finSaison|date('F Y', none, 'fr')}}</p> #}
                    <p>Niveau : {{cour.niveau}}</p>
                    <p>Horaire : {{cour.horaire}}</p>
                    <p>Lieu : {{cour.lieu}}</p>
                </li>
                
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}