{% extends 'base.html.twig' %}

{% block title %}Scylla - À Propos{% endblock %}

{% block main %}

    <main class="container-center bg-scylla color-white disp-flex-start-col">
        <div class="log-title">
            <img class="logo-size" src="{{ asset('img/sc-logo-blanc-transparent.png') }}" alt="logo scylla">
            <h1 class="big-font-xl font-oswald upper-text txt-a marge-top-2">En savoir plus sur Scylla</h1>
        </div>
        

       <div class="form-box disp-flex-center-col font-ysabeau marge-2 border-2">
            {% for infos_asso in infos_assos %}
               
            
            <h3 class="txt-a marge-bot-1 upper-text">{{ infos_asso.nom }}</h3>
            
            <h3 class="parag marge-bot-1">{{ infos_asso.description }}</h3>
            <h3 class="txt-a upper-text">NOTRE SIEGE</h3>
            <h3 class="txt-a marge-bot-1 marge-bot-2">{{ infos_asso.siege }}</h3>
                
            {% else %}

            <h3 class="txt-a marge-bot-1 upper-text marge-bot-2">Informations à venir...</h3>
            
            {% endfor %}

            <hr class="sc-trait">
            <h3 class="txt-a marge-bot-1">Besoin d'une information ? Envie de rejoindre la troupe ?</h3>
            <a class="sc-form-btn link-ns" href="{{ path('app_contact') }}">CONTACTEZ-NOUS</a>
       </div>
       
    </main>

   
{% endblock %}
