{% extends 'base.html.twig' %}

{% block title %}Scylla - Galerie
{% endblock %}

{% block main %}

<main class="container-center bg-scylla color-white font-oswald">

{% if app.user %}
	<h2 class="txt-a marge-1">Photos des évènements</h2>
	{% if ev_images|length > 0 %}
	<div class="galerie-disp">
		{% for ev_image in ev_images %}
			<img src="{{ asset('images/evenements/' ~ ev_image.nom) }}" class="up-img"> 
		{% endfor %}
	</div>
	<section class="txt-a font-oswald">
		{{ knp_pagination_render(ev_images) }}
	</section>
	{% else %}
		<span class="font-ysabeau color-white txt-a marge-1">Plus de photos d'évènements à venir...</span>
	{% endif %}

	<h2 class="txt-a marge-1">Photos des cours</h2>
	{% if co_images|length > 0 %}
	<div class="galerie-disp">
		{% for co_image in co_images %}
			<img src="{{ asset('images/cours/' ~ co_image.nom) }}" class="up-img">
		{% endfor %}
	</div>
	<section class="txt-a font-oswald">
		{{ knp_pagination_render(co_images) }}
	</section>
	{% else %}
		<span class="font-ysabeau color-white txt-a marge-1">Plus de photos de cours à venir...</span>
	{% endif %}
{% else %}
	<h2 class="txt-a marge-1">Photos des évènements</h2>
	{% if ev_images|length > 0 %}
	<div class="galerie-disp">
		{% for ev_image in ev_images %}
			<img src="{{ asset('images/evenements/' ~ ev_image.nom) }}" class="up-img"> 
		{% endfor %}
	</div>
	<section class="txt-a font-oswald">
		{{ knp_pagination_render(ev_images) }}
	</section>
	{% else %}
		<span class="font-ysabeau color-white txt-a marge-1">Plus de photos d'évènements à venir...</span>
	{% endif %}
{% endif %}
	
	
	
	
	


	{# <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
		<div class="grid gap-4">
         {% for ev_image in ev_images %}
			<div>
				<img class="h-auto max-w-full rounded-lg img-tail" src="{{ asset('images/evenements/' ~ ev_image.nom) }}" alt="Photo Evenement">
			</div>
		</div>
        {% else %}
        <h1 colspan="7">Photos à venir...</h1>
        {% endfor %}
        {% for co_image in co_images %}
            <div>
				<img class="h-auto max-w-full rounded-lg img-tail" src="{{ asset('images/cours/' ~ co_image.nom) }}" alt="Photo Cours">
			</div>
        {% else %}
	        <h1 colspan="7">Photos à venir...</h1>
	    {% endfor %}
	</div> #}
</main>


{% endblock %}
