{% extends 'base.html.twig' %}

{% block title %}InfosAdherent{% endblock %}

{% block body %}
<div class="container disp-flex-center-col bg-scylla color-white font-oswald">
    <h1 class="marge-2">MES INFORMATIONS</h1>

    <div class="form-box">
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ infos_adherent.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ infos_adherent.prenom }}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ infos_adherent.telephone }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ infos_adherent.adresse }}</td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{{ infos_adherent.dateNaissance ? infos_adherent.dateNaissance|format_datetime('short', 'none', locale='fr') : '' }}</td>
                </tr>
                <tr>
                    <th>Pratique</th>
                    <td>{{ infos_adherent.pratique }}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <a class="sc-form-btn link-ns marge-2" href="{{ path('app_infos_adherent_edit', {'id': infos_adherent.id}) }}">MODIFIER</a>

</div>
{% endblock %}
